/* ------------------------------------------------------menu---------------------------------------------------- */
*{
    font-family: 'Bruno Ace SC', cursive;
    padding: 0%;
    margin: 0%;
}

.titulomenu{
    background-color: rgba(238, 10, 10, 0.74);
    text-align: center;
    display: flex;
    width: 220px;
    margin-left: 70px;
    display: inline-block;
    border-radius: 4px;
    font-size: 25px;
    

}

nav{
    background: #1c2541;
    height: 82px;
    width: 100%;
}

.elace{
    position: center;
    padding: 20px 50px;
}

.enlace img{
    display: inline-flex;
    width: 72px;
    margin: 5px 10px 0px 10px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 13px;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}
ul li a:hover{
    background: #000090;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}

@media (min-width:768px) and (max-width: 1020px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 1s;

    }
    nav ul li{
        display: block;
        margin: 25px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 16px;
        text-decoration: none;
    }
    li a:hover, li a.active{
        background: none;
        color: #e3eaf1;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 767px){
    .enlace img{
        width: 50px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .titulomenu{
        font-size: 10px;
        position: relative;
        width: 80px;
        margin-left: 70px;        
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 35%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li{
        display: block;
        margin: 15px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 10px;
        text-decoration: none;
    }
    li a:hover, li a.active{
        background: none;
        color: #e3eaf1;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn{
        display: block;
        margin-right: 20px;
    }

}
/* ------------------------------------------------------menu--------------------------------------------- */
/* -----------------------------------------------------pestañaIndex--------------------------------------------- */

body section{
   
    background-position: center center;
    height: calc(100vh - 80px); 
    width: 100%;

}

.maine{
    background-image: url(../img/frio-calor.jpg);
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.titulo1{
    margin-top: 60px;
    text-align: center;
    font-size: 35px;
}
.titulo2{
    text-align: center;
    font-size: 35px;
}

.articulo1{
    width: 800px;
    height: 400px;        
}
@media (min-width:768px) and (max-width: 1020px){
    .titulo1{
        font-size: 25px;
        margin-top: 5px;
    }
    .titulo2{
        font-size: 25px;
    }
    .maine{
        height: 280px;
        object-fit: cover;
    }
    .articulo1{
        text-align: center;
        font-size: 15px;
        width: 480px;
        height: 200px;        
    }

}
@media (max-width: 767px){

    .maine{
        height: 280px;
        object-fit: cover;
        }
    .articulo1{
        width: 380px;
        height: 200px;        
        }
    .titulo1{
        margin-top: 20px;
        font-size: 20px;
    }
    .titulo2{
        font-size: 18px;
    }
    .text-1{
        display: grid;
        text-align: center;
        margin-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
    }
}
/*------------------------------------------------finpestañaIndex--------------------------------------------*/

/* -----------------------------------------------footer----------------------------------------------- */
.pie-pagina{
    width: 100%;
    background-color: #1c2541;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 100px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(239,184,16);
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    margin-top: 45px;
    margin-left: 30px;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(54, 170, 170);
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #efefef;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media (min-width:768px) and (max-width: 1020px){
    .box-2{
        margin-right: 10px;
        width: 100%;
    }
    .box h2{
        text-align: center;
    }
    .box p{
        text-align: center;
    }
    .red-social{
        display: flex;
        justify-content: center;
    }
    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 35px 0px;  
    }
}
@media (max-width:768px){

    .box-2{
        margin-right: 10px;
        width: 100%;
    }
    .box h2{
        text-align: center;
    }
    .box p{
        text-align: center;
    }
    .pie-pagina .grupo-1 .red-social a{
        margin: 15px;
    }
    .red-social{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }
    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 35px 0px;  
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 60px;
    }
         
}
/* -----------------------------------------------Finfooter----------------------------------------------- */


/* -----------------------------------------------PestanaContacto----------------------------------------------- */
.conteiner{
    display: flex;
    background-color: #5BC0BE;
    width: 100%;
}
.conteiner-form{     
    width: 95%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px ;
    margin-left: 15px;
}
.conteiner-form h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.conteiner-form p{
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 30px;
}
.conteiner-form a{
    font-size: 17px;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    color: black;
    font-weight: 700;
    text-decoration: none;    
}
.conteiner-form a i{
    color:#2c3e50;
    margin-right: 10px;
}
.conteiner-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 2px solid #0a1a2a;
}
@media (min-width:768px) and (max-width: 1024px){
    .conteiner-form{     
        width: 80%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        margin-bottom: 30px;
    }
    .conteiner-form h1{
        font-size: 25px;
        margin-bottom: 15px;
        text-align: center;
    }
    .conteiner-form p{
        font-size: 17px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
    .conteiner-form a{
        font-size: 17px;
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        color: black;
        font-weight: 700;
        text-decoration: none;    
    }
    .conteiner-form a i{
        color:#2c3e50;
        margin-right: 10px;
    }
    .conteiner-form form .campo, textarea{
        width: 100%;
        font-size: 15px;
        border: 2px solid #0a1a2a;
    }
}
@media (max-width:767px){
    .conteiner-form{     
        width: 70%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        margin-bottom: 30px;
    }
    .conteiner-form h1{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .conteiner-form p{
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
    .conteiner-form a{
        font-size: 12px;
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        color: black;
        font-weight: 700;
        text-decoration: none;    
    }
    .conteiner-form a i{
        color:#2c3e50;
        margin-right: 10px;
    }
    .conteiner-form form .campo, textarea{
        width: 100%;
        font-size: 15px;
        border: 2px solid #0a1a2a;
    }

}
/* -----------------------------------------------FinPestañaContacto----------------------------------------------- */
/* -----------------------------------------------pestañatrabajos----------------------------------------------- */
.trabajos{
    background-color: #5BC0BE;
    display: flex;
}
.trabajos-1{
    width: 50%;
    margin: 30px 15px;
}
.trabajos-2 iframe{
    width: 100%;
    height: 70%;
}
.imagentrabajo1{
    margin-top: 10px;
    width: 100%;
    height: 70%;
}
.trabajos-2{
    width: 50%;
    margin: 30px 15px;
}
.trabajos-1 h2{
    text-align: center;
}
.trabajos-2 h2{
    text-align: center;
}
@media (min-width:768px) and (max-width: 1024px){
    .trabajos{
        display: flex;   
    }
    .trabajos-1{
        display: grid;
        width: 50%;
    }
    .trabajos-1 h1{
        text-align: center;
    }
    .trabajos-1 p{
        text-align: center;
    }
    .trabajos-2{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .trabajos-2 h2{
        text-align: center;
        margin-top: 10px;
    }
    .trabajos-2 p{
        text-align: center;
    }
}
@media (max-width:767px){
    .trabajos{
        display: grid;

    }
    .imagentrabajo1{
        margin-top: 10px;
        width: 300px;
        height: 140px;
    }
    .trabajos-1{
        display: grid;
        width: 30%;
    }
    .trabajos-1 h1{
        text-align: center;
        font-size: 15px;
    }
    .trabajos-1 p{
        text-align: center;
        font-size: 10px;
    }
    .trabajos-2{
        display: grid;
        width: 20%;
    }
    .trabajos-2 h2{
        margin-top: 10px;
        font-size: 15px;
        text-align: center;
    }
    .trabajos-2 p{
        text-align: center;
        font-size: 10px;
    }
    .trabajos-2 iframe{
        width: 300px;
        height: 160px;
    }

}
/* -----------------------------------------------FinPestañatrabajos----------------------------------------------- */

/* -----------------------------------------------PestañaNosotros----------------------------------------------- */
.nosotros-22{
    background-color: #364c8f;

}
.sobrenosotros{
    text-align: center;
    background-color:aqua;
    font-size: 35px;
}
.quienessomos{
    text-align: center;
    margin: 25px 175px;
}
.quienessomos p{
    margin-top: 15px;
}
.nuestrocompromiso{
    text-align: center;
    margin: 25px 175px;
}
.nuestrocompromiso p{
    margin-top: 25px;
}
.principios{
    text-align: center;
    margin: 0px 175px;
}
.principios h2{
    margin-bottom: 25px;
}
@media (min-width:768px) and (max-width: 1024px){
    .sobrenosotros{
        display: grid;
        align-items: center;
    }
    .sobrenosotros h1{
        text-align: center;
        font-size: 32px;
    }
    .quienessomos h2{
        text-align: center;
        font-size: 25pX;
    }
    .quienessomos p{
        font-size: 15px;
    }

}
@media (max-width:767px){
    
    .sobrenosotros{
        display: flex;
        
    }
    .sobrenosotros h1{
        text-align: center;
        font-size: 25px;
    }
    .quienessomos{
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
    }
    .nuestrocompromiso{
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
    }
    .principios{
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }


  
}

/* -----------------------------------------------FinPestañaNosotros----------------------------------------------- */

/* -----------------------------------------------PestañaServicios----------------------------------------------- */
.servicios{
    background-image: url(../img/fservicios.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
}
.servicios1{
    margin-left: 350px;
    margin-bottom: 150px;
    margin-right: 350px;
}
.servicios1 h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 45px;
}
.ptservicios{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.tpservicios{
    text-align: center;
    margin-bottom: 10px;
}
.servicios p{
    text-align: center;
    
}
@media (min-width:768px) and (max-width: 1024px){
    .servicios{
        display: flex;
        background-size: 100% 100%;
    }
    .servicios1{
        display: flex;
        flex-direction: column;
        margin: auto;

    }
    .servicios1 h1{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .ptservicios{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pserviciosu{
        margin-bottom: 10px;
    } 
}
@media (max-width:767px){
    .servicios{
        display: flex;
        background-size: 100% 100%;
    }
    .servicios1{
        display: flex;
        flex-direction: column;
        margin: auto;

    }
    .servicios1 h1{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .ptservicios{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .tpservicios{
        font-size: 15px;
    }
    .pservicios{
        font-size: 10px;
    }
    .pserviciosu{
        font-size: 10px;
        margin-bottom: 10px;
    } 
}
/* -----------------------------------------------FinPestañaServicios----------------------------------------------- */